<section class='customer'>
  <div class='section-header border-0 pb-0'>
    <app-page-title-standalone title='{{"General::invoices"|abpLocalization}}' ></app-page-title-standalone>
    <div class='section-header-actions'>
      <button class='btn btn-light'>
        <i class="fa-regular fa-circle-down"></i>
        <span>{{"General::downloadPDF"|abpLocalization}}</span>
      </button>
      <button class='btn btn-light'>
        <i class="fa-regular fa-circle-down"></i>
        <span>{{"General::downloadCSV"|abpLocalization}}</span>
      </button>
    </div>
  </div>
  <div class='section-body'>
    <div class='table-filter-wrapper'>
      <div class='filter'>
        <form class='form row gap-0'>
          <div class='col-lg-4 col-md-6'>
            <label class='form-label'>{{"General::searchForInvoice"|abpLocalization}}</label>
            <div class='input-search'>
              <i class='icon fa-search fa-solid'></i>
              <input (input)='onChangeFilter($event)' class='form-control' type='text' placeholder='{{"General::search"|abpLocalization}}' >
            </div>
          </div>
          <div class='col-lg-4 col-md-6'>
            <label class='form-label'>{{"General::customer"|abpLocalization}}</label>
            <ng-select class='select-dot' [items]="customerList"  bindLabel="name" bindValue="name"  placeholder='{{"General::plan"|abpLocalization}}' [clearable]="false">
              <ng-template ng-label-tmp let-item="item">
                <div class='info'>
                  <span class='dot text-primary'><i class="fa-solid fa-circle"></i></span>
                  <span class='name'>{{item?.name}}</span>
                </div>
              </ng-template>
            </ng-select>
          </div>
          <div class='col-lg-2 col-md-6'>
            <label class='form-label'>{{"General::status"|abpLocalization}}</label>
            <ng-select class='select-dot' [items]="statusList"  bindLabel="name" bindValue="name"  placeholder='{{"General::plan"|abpLocalization}}' [clearable]="false">
              <ng-template ng-label-tmp let-item="item">
                <div class='info'>
                  <span class='dot text-primary'><i class="fa-solid fa-circle"></i></span>
                  <span class='name'>{{item?.name}}</span>
                </div>
              </ng-template>
            </ng-select>
          </div>
          <div class='col-lg-2 col-md-6'>
            <label class='form-label'>{{"General::event"|abpLocalization}}</label>
            <ng-select class='select-dot' [items]="eventList"  bindLabel="name" bindValue="name"  placeholder='{{"General::plan"|abpLocalization}}' [clearable]="false">
              <ng-template ng-label-tmp let-item="item">
                <div class='info'>
                  <span class='dot text-primary'><i class="fa-solid fa-circle"></i></span>
                  <span class='name'>{{item?.name}}</span>
                </div>
              </ng-template>
            </ng-select>
          </div>


        </form>

      </div>
      <div *ngIf='!invoiceList.length'>
        <app-not-found-data-standalone></app-not-found-data-standalone>
      </div>

      <div class='table-responsive'>
        <table class='rounded-table'>
          <thead class='rounded-table-head'>
          <tr class='rounded-table-head-row'>
            <th width='147' class='rounded-table-head-cell'>
              <div class='sort-cell'>
                  <input type='checkbox' class='custom-checkbox'>
                  <span>{{"General::invoice"|abpLocalization}}</span>
                  <a (click)='sortData("invoice")' class="sort fa-solid fa-arrow-down" *ngIf='!isSortInvoice'></a>
                  <a (click)='notSort("invoice")' class="sort fa-solid fa-arrow-up" *ngIf='isSortInvoice'></a>
              </div>
            </th>
            <th width='231' class='rounded-table-head-cell'>
              <div class='sort-cell'>
                <span>{{"General::customer"|abpLocalization}}</span>
                <a (click)='sortData("invoice")' class="sort fa-solid fa-arrow-down" *ngIf='!isSortCustomer'></a>
                <a (click)='notSort("invoice")' class="sort fa-solid fa-arrow-up" *ngIf='isSortCustomer'></a>
              </div>
            </th>
            <th width='141' class='rounded-table-head-cell'>{{"General::eventType"|abpLocalization}}</th>
            <th width='120' class='rounded-table-head-cell'>{{"General::totalDue"|abpLocalization}}</th>
            <th width='111' class='rounded-table-head-cell'> {{"General::status"|abpLocalization}}</th>
            <th width='154' class='rounded-table-head-cell'>{{"General::createdBy"|abpLocalization}}</th>
            <th width='124' class='rounded-table-head-cell'>{{"General::invloceExpiry"|abpLocalization}}</th>
            <th width='86' class='rounded-table-head-cell'></th>
          </tr>
          </thead>
          <tbody class='rounded-table-body'>
          <tr class='rounded-table-body-row' *ngFor='let customer of invoiceList; let i = index'>
            <td class='rounded-table-body-cell' [attr.data-label]="'General::customer' | abpLocalization">
              <div class='cell-name'>
                <div class='avatar'>name</div>
                <div class='info'>
                  <span class='name'>name</span>
                  <span class='code'>name</span>
                </div>

              </div>
            </td>
            <td class='rounded-table-body-cell' [attr.data-label]="'General::plan' | abpLocalization">
              <div class='cell-name'>
                <div class='info'>
                  <span class='name'>name</span>
                  <span class='code'>name</span>
                </div>

              </div>
            </td>
            <td class='rounded-table-body-cell' [attr.data-label]="'General::dateJoined' | abpLocalization">
              name
            </td>
            <td class='rounded-table-body-cell' [attr.data-label]="'General::subscriptionExpiry' | abpLocalization">
              name
            </td>
            <td class='rounded-table-body-cell cell-action'>
              <a (click)='editInvoice()'><i class="fa-solid fa-pen"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>
