<div class="modal-header">
  <div class='container'>
    <div class='modal-header-wrapper'>
      <a class='modal-close' (click)="closeModal()">
        <i class='fa fa-xmark'></i>
      </a>
      <h2 class='title'>{{"General::branding"|abpLocalization}}</h2>
      <button  class='btn btn-save' type="submit"  (click)="editCompanyBranding()" [disabled]="!form.valid">
        <span>{{"General::save"|abpLocalization}}</span>
      </button>
    </div>
  </div>
</div>
<div class='modal-body'>
  <div class='container'>
    <div class='modal-body-wrapper'>
      <form class='form section-form gap-20' [formGroup]='form' >
        <!--Start Company logo Sec-->
        <div class='row g-0  pb-20 border-bottom'>
          <div class='col-lg-3 col-md-12'>
            <p class='form-name'>{{"General::companyLogo"|abpLocalization}}</p>
            <p class='form-hint'>{{"General::companyLogoHint"|abpLocalization}}</p>
          </div>
          <div class='col-lg-6 col-md-12'>
            <div class="file-uploader">
              <div *ngIf="!companyBranding?.companyLogo" class="image-preview">
                <i class="fa-solid fa-store  fa-2x"></i>
              </div>
              <div *ngIf="companyBranding?.companyLogo" class="image-preview">
                <img class='img-fluid' [src]='companyBranding?.companyLogo' alt="Selected Image">
              </div>
              <div class='file-actions'>
                <input type="file" #fileInput (change)="onFileChange($event)" hidden accept=".svg,.png,.jpg,.jpeg,.gif">
                <button type="button" (click)="fileInput.click()" class='btn update-btn'>{{"General::update"|abpLocalization}}</button>
                <button type="button"  (click)="removeFile()" class='btn btn-remove'>{{"General::remove"|abpLocalization}}</button>
              </div>
            </div>
            <div *ngIf="imageErrorSizeDimensions" class="error-message invalid my-1">{{"General::imageErrorSizeDimensions"|abpLocalization}}</div>

            <div class='file-hint'>SVG, PNG, JPG or GIF (max. 512x512px)</div>
          </div>
        </div>
        <!--End Company logo Sec-->

        <!--End Company logo Sec-->

        <!--Start URL Subdomain Sec-->
        <div class='row g-0  pb-20 border-bottom'>
          <div class='col-lg-3 col-md-12'>
            <p class='form-name'>{{"General::urlSubdomain"|abpLocalization}}</p>
            <p class='form-hint'>{{"General::urlSubdomainHint"|abpLocalization}}</p>
          </div>
          <div class='col-lg-6 col-md-12'>
            <div class='mb-16'>
              <label class="form-label">{{"General::subdomain"|abpLocalization}}</label>
              <div class='custom-input-group2'>
                <input  class='form-control' type='text' formControlName='subdomain' placeholder='{{"General::subnow.io"|abpLocalization}}'>
                <div class='custom-input-group2-text'>
                  <i class="icon fa-regular fa-circle-question" tooltipClass="custom-tooltip" placement="top" container="body"  ngbTooltip='{{"General::subdomainTooltip"|abpLocalization}}'></i>
                  <span class='btn-text'><span>{{"General::subnow"|abpLocalization}}</span></span>
                </div>
              </div>
              <span class='control-hint'>{{"General::subdomainHint"|abpLocalization}}</span>
            </div>

          </div>
        </div>
        <!--End URL Subdomain Sec-->



        <!-- Start theme section -->
        <div class='row g-0 pb-20 border-bottom'>
          <div class='col-lg-3 col-md-12'>
            <p class='form-name'>{{ "General::theme" | abpLocalization }}</p>
          </div>
          <div class='col-lg-6 col-md-12'>
            <div class='mb-16'>
              <label class="form-label">{{ "General::logoBackgroundColor" | abpLocalization }}</label>
              <div class='color-picker-input'>
                <i class="icon fa-solid fa-palette"></i>
                <input placeholder='#EEF2FF'
                       formControlName='backgroundColor'
                       [(colorPicker)]="backgroundColor"
                       (colorPickerChange)="onBackgroundColorChange($event)"
                       class='form-control'
                       [cpOutputFormat]="'hex'"
                       id='backgroundColor' />
                <span class='piked-color' [style.background]="form.get('backgroundColor').value"></span>
              </div>
            </div>
            <div class='mb-16'>
              <label class="form-label">{{ "General::primaryPayButtonColor" | abpLocalization }}</label>
              <div class='color-picker-input'>
                <i class="icon fa-solid fa-palette"></i>
                <input placeholder='#EEF2FF'
                       formControlName='buttonsColor'
                       [(colorPicker)]="buttonsColor"
                       (colorPickerChange)="onButtonsColorChange($event)"
                       class='form-control'
                       [cpOutputFormat]="'hex'"
                       id='buttonsColor' />
                <span class='piked-color' [style.background]="form.get('buttonsColor').value"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- End theme section -->

        <!--Start Support link Sec-->
        <div class='row g-0  pb-20 border-bottom'>
          <div class='col-lg-3 col-md-12'>
            <p class='form-name'>{{"General::supportLink"|abpLocalization}}</p>
            <p class='form-hint'>{{"General::supportLinkHint"|abpLocalization}}</p>
          </div>
          <div class='col-lg-6 col-md-12'>
            <div class='mb-16'>
              <label class="form-label">{{"General::supportLink"|abpLocalization}}</label>
             <div class='input-icon'>
               <i class="icon fa-solid fa-link"></i>
               <input placeholder='support.yourwebsite.com' class='form-control' formControlName='supportLink' id='supportLink' />
             </div>
            </div>

          </div>
        </div>
        <!--End Support link Sec-->


        <!--Start Legal Sec-->
        <div class='row g-0  pb-20 border-bottom'>
          <div class='col-lg-3 col-md-12'>
            <p class='form-name'>{{"General::legal"|abpLocalization}}</p>
          </div>
          <div class='col-lg-6 col-md-12'>
            <div class='mb-16'>
              <label class="form-label">{{"General::privacyPolicyURL"|abpLocalization}}</label>
              <div class='control-icon'>
                <input class='form-control' placeholder='http://' type='text' formControlName='privacyPolicyUrl' id='privacyPolicyUrl'>
                <i class="icon fa-regular fa-circle-question" tooltipClass="custom-tooltip" placement="top" container="body"  ngbTooltip='{{"General::privacyPolicyURLTooltip"|abpLocalization}}'></i>
              </div>
            </div>

            <div class='mb-16'>
              <label class="form-label">{{"General::termsServiceURL"|abpLocalization}}</label>
              <div class='control-icon'>
                <input class='form-control'  placeholder='http://' type='text' formControlName='termsOfServiceUrl' id='termsOfServiceUrl'>
                <i class="icon fa-regular fa-circle-question" tooltipClass="custom-tooltip" placement="top" container="body"  ngbTooltip='{{"General::termsServiceURLTooltip"|abpLocalization}}'></i>
              </div>
            </div>
          </div>
        </div>
        <!--End Legal  Sec-->


        <!--Start Social profiles Sec-->
        <div class='row g-0  pb-20 border-bottom'>
          <div class='col-lg-3 col-md-12'>
            <p class='form-name'>{{"General::socialProfile"|abpLocalization}}</p>
          </div>
          <div class='col-lg-6 col-md-12'>
              <div class='mb-16'>
                <label class="form-label">{{"General::X.com"|abpLocalization}}</label>
                <div class='control-icon'>
                  <input class='form-control' placeholder='{{"General::addLink"|abpLocalization}}' type='text' formControlName='xAccount'>
                  <i class="icon fa-regular fa-circle-question" tooltipClass="custom-tooltip" placement="top" container="body"  ngbTooltip='{{"General::X.com"|abpLocalization}}'></i>
                </div>
              </div>
            <div class='mb-16'>
              <label class="form-label">{{"General::facebook"|abpLocalization}}</label>
              <div class='control-icon'>
                <input class='form-control' placeholder='{{"General::addLink"|abpLocalization}}' type='text' formControlName='facebookAccount' id='facebookAccount'>
                <i class="icon fa-regular fa-circle-question" tooltipClass="custom-tooltip" placement="top" container="body"  ngbTooltip='{{"General::facebook"|abpLocalization}}'></i>
              </div>
            </div>

            <div class='mb-16'>
              <label class="form-label">{{"General::instagram"|abpLocalization}}</label>
              <div class='control-icon'>
                <input class='form-control' placeholder='{{"General::addLink"|abpLocalization}}' type='text' formControlName='instagramAccount' id='instagramAccount'>
                <i class="icon fa-regular fa-circle-question" tooltipClass="custom-tooltip" placement="top" container="body"  ngbTooltip='{{"General::instagram"|abpLocalization}}'></i>
              </div>
            </div>

            <div class='mb-16'>
              <label class="form-label">{{"General::linkedin"|abpLocalization}}</label>
              <div class='control-icon'>
                <input class='form-control' placeholder='{{"General::addLink"|abpLocalization}}' type='text' formControlName='linkedinAccount' id='linkedinAccount'>
                <i class="icon fa-regular fa-circle-question" tooltipClass="custom-tooltip" placement="top" container="body"  ngbTooltip='{{"General::linkedin"|abpLocalization}}'></i>
              </div>
            </div>

            <div class='mb-16'>
              <label class="form-label">{{"General::whatsappNumber"|abpLocalization}}</label>
              <div class='control-icon'>
                <input class='form-control' placeholder='{{"General::addLink"|abpLocalization}}' type='text' formControlName='whatsappNumber' id='whatsappNumber'>
                <i class="icon fa-regular fa-circle-question" tooltipClass="custom-tooltip" placement="top" container="body"  ngbTooltip='{{"General::whatsappNumber"|abpLocalization}}'></i>
              </div>
            </div>
          </div>
        </div>
        <!--End Social profiles  Sec-->
      </form>
    </div>
  </div>
</div>
