<div class="modal-header">
  <div class='container'>
    <div class='modal-header-wrapper'>
      <a class='modal-close' (click)="closeModal()">
        <i class='fa fa-xmark'></i>
      </a>
      <h2 class='title'>
        <span *ngIf='customer?.name'>{{customer?.name}}</span>
        <span  *ngIf='!customer?.name'>{{"General::newCustomer"|abpLocalization}}</span>
      </h2>
      <button  class='btn btn-save' type="submit"  (click)="createEditCustomer()" [disabled]="!form.valid">
        <span>{{"General::save"|abpLocalization}}</span>
      </button>
    </div>
  </div>
</div>

<div class='modal-body'>
  <div class='container'>
      <div class='modal-body-wrapper'>
        <div>

        </div>
        <ul ngbNav #nav="ngbNav" class="custom-nav-tabs nav-tabs custom-width">
          <li ngbNavItem>
            <button ngbNavLink>
              <i class="icon fa-regular fa-address-card"></i>
              <span>
                {{"General::info"|abpLocalization}}
              </span>
              </button>
            <ng-template ngbNavContent>
              <form class='form section-form' [formGroup]='form'>
                <!--Start Main Info Sec-->
                <div class='row g-0  pb-32 border-bottom'>
                  <div class='col-lg-3 col-md-12'>
                    <p class='form-name'>{{"General::mainInfo"|abpLocalization}}</p>
                  </div>
                  <div class='col-lg-9 col-md-12'>
                    <div class='row'>
                      <div class='col-lg-8 col-md-12'>
                        <div class='form-group'>
                          <label class="form-label">{{"General::customerName"|abpLocalization}}</label>
                          <div class='control-icon'>
                            <input class='form-control' formControlName='name' id='name' placeholder='Mike Johnson' type='text' required>
                            <i class="icon fa-regular fa-circle-question" placement="top" container="body"  ngbTooltip='{{"General::customerName"|abpLocalization}}'></i>
                          </div>
                        </div>
                      </div>
                      <div class='col-lg-8 col-md-12'>
                        <div class='form-group'>
                          <label class="form-label">{{"General::customerKey"|abpLocalization}}</label>
                          <input  (keydown.space)="$event.preventDefault()" class='form-control' formControlName='customerKey' id='customerKey' placeholder='MikeJohnson@gmail.com' type='text' required>
                          <span class='control-hint'>{{"General::customerKeyHint"|abpLocalization}}</span>
                        </div>
                      </div>
                      <div class='col-lg-8 col-md-12'>
                        <div class='form-group'>
                          <label class="form-label">{{"General::customerDescription"|abpLocalization}}</label>
                          <textarea formControlName='description' id='description' rows='2' placeholder='{{"General::customerDescriptionPlaceholder"|abpLocalization}}' class='form-control' required></textarea>
                        </div>
                      </div>
                      <div class='col-lg-8 col-md-12'>
                        <div class='row'>
                          <div class='col-lg-6 col-md-12'>
                            <div class='form-group mb-0'>
                              <label class="form-label">{{"General::customerSince"|abpLocalization}}</label>
                                <div class='control-icon'>
                                  <input
                                    class="form-control input-date"
                                    placeholder="dd/mm/yyyy"
                                    name="dp"
                                    ngbDatepicker
                                    #d="ngbDatepicker"
                                    formControlName='customerSince'
                                    (focus)="d.toggle()"
                                  />
                                  <i class='icon' (click)="d.toggle()"><i class="fa-regular fa-calendar"></i></i>
                                </div>
                              </div>
                          </div>
                          <div class='col-lg-6 col-md-12'>
                            <div class='form-group mb-0'>
                              <label class="form-label">{{"General::joinedSubnowOn"|abpLocalization}}</label>
                              <div class='control-icon'>
                                <input
                                  class="form-control input-date"
                                  placeholder="dd/mm/yyyy"
                                  name="dp"
                                  ngbDatepicker
                                  #d="ngbDatepicker"
                                  formControlName='joinedSubnow'
                                />
                                <i class='icon'><i class="fa-regular fa-calendar"></i></i>
                              </div>

                            </div>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
                <!--End General Sec-->

                <!--Start Contact Info Sec-->
                <div class='row g-0  pb-32 border-bottom'>
                  <div class='col-lg-3 col-md-12'>
                    <p class='form-name'>{{"General::contactInfo"|abpLocalization}}</p>
                  </div>
                  <div class='col-lg-9 col-md-12'>
                    <div class='row'>
                      <div class='col-lg-8 col-md-12'>
                        <div class='form-group'>
                          <label class="form-label">{{"General::customerEmail"|abpLocalization}}</label>
                          <div class='control-icon'>
                            <input class='form-control' formControlName='email' id='email' placeholder='MikeJohnson@gmail.com' type='email' required>
                            <i class="icon fa-regular fa-circle-question" placement="top" container="body"  ngbTooltip='{{"General::customerEmailTooltip"|abpLocalization}}'></i>
                          </div>
                          <span class='control-hint'>{{"General::customerEmailHint"|abpLocalization}}</span>
                        </div>
                      </div>
                      <div class='col-lg-8 col-md-12'>
                        <div class='form-group'>
                          <label class="form-label">{{"General::customerPhone"|abpLocalization}}</label>
                          <div class='control-icon'>
                            <ngx-intl-tel-input
                              [cssClass]="'custom-tel-input'"
                              [preferredCountries]="preferredCountries"
                              [onlyCountries]="countries" [enableAutoCountrySelect]="true"
                              [enablePlaceholder]="true" [cssClass]="'form-control'" [searchCountryFlag]="true"
                              [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                              [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.SaudiArabia"
                              [maxLength]="20" [phoneValidation]="true" [separateDialCode]="true"
                              [numberFormat]="PhoneNumberFormat.National" name="phone"
                              formControlName="phone"
                              id="phone"
                            >
                            </ngx-intl-tel-input>
                            <i class="icon fa-regular fa-circle-question" placement="top" container="body"  ngbTooltip='{{"General::customerPhoneTooltip"|abpLocalization}}'></i>
                          </div>

                          <span class='control-hint'>{{"General::customerPhoneHint"|abpLocalization}}</span>
                        </div>
                      </div>
                      <div class='col-lg-8 col-md-12'>
                        <div class='form-group'>
                          <label class="form-label">{{"General::preferredLanguage"|abpLocalization}}</label>

                          <ng-select class='select-lang' [items]="languageList" formControlName="preferredLanguage" bindLabel="name" bindValue="name"  placeholder='{{"General::preferredLanguage"|abpLocalization}}' [clearable]="false">
                            <ng-template ng-label-tmp let-item="item">
                              <div class='info'>
                                <span class='code'>{{item?.code}}</span>
                                <span class='name'>{{item?.name}}</span>
                              </div>

                            </ng-template>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--End Contact Info Sec-->


                <!--Start Customer Tax Informations  Sec-->
                <div class='row g-0  pb-32 border-bottom'>
                  <div class='col-lg-3 col-md-12'>
                    <p class='form-name'>{{"General::mainInfo"|abpLocalization}}</p>
                  </div>
                  <div class='col-lg-9 col-md-12'>
                    <div class='row'>
                      <div class='col-lg-8 col-md-12'>
                        <div class="form-check form-switch customer-check">
                          <input class="form-check-input "
                                 type="checkbox"
                                 id="isABusiness"
                                 formControlName='isBusiness'

                          >
                          <label class="form-check-label" for="isABusiness">{{"General::isABusiness"|abpLocalization}}</label>
                        </div>
                      </div>
                      <div class='mt-16 col-lg-8 col-md-12' *ngIf="form.get('isBusiness').value">
                        <div class='form-group'>
                          <label class="form-label">{{"General::companyRegistrationNumber"|abpLocalization}}</label>
                          <div class='control-icon'>
                            <input class='form-control' formControlName='companyRegistryNumber' id='companyRegistryNumber'  type='text' required>
                            <i class="icon fa-regular fa-circle-question" placement="top" container="body"  ngbTooltip='{{"General::companyRegistrationNumberTooltip"|abpLocalization}}'></i>
                          </div>
                        </div>
                      </div>
                      <div class='col-lg-8 col-md-12'  *ngIf="form.get('isBusiness').value">
                        <div class='form-group'>
                          <label class="form-label">{{"General::taxID"|abpLocalization}}</label>
                          <div class='control-icon'>
                            <input class='form-control' formControlName='vatid' id='vatid'  type='text' required>
                            <i class="icon fa-regular fa-circle-question" placement="top" container="body"  ngbTooltip='{{"General::taxIDTooltip"|abpLocalization}}'></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--End Customer Tax Informations Sec-->


                <!--Start Address Sec-->
                <div class='row g-0'>
                  <div class='col-lg-3 col-md-12'>
                    <p class='form-name'>{{"General::address"|abpLocalization}}</p>
                  </div>
                  <div class='col-lg-9 col-md-12'>
                    <div class='row'>
                      <div class='col-lg-8 col-md-12'>
                        <div class='form-group'>
                             <label class="form-label">{{"General::address"|abpLocalization}}</label>
                            <input class='form-control' formControlName='address' id='address' placeholder='100 Smith Street' type='text' required>
                        </div>
                      </div>

                      <div class='col-lg-8 col-md-12'>
                        <div class='form-group'>
                          <label class="form-label">{{"General::city"|abpLocalization}}</label>
                          <input class='form-control' formControlName='city' id='city' placeholder='{{"General::city"|abpLocalization}}' type='text' required>
                        </div>
                      </div>

                      <div class='col-lg-8 col-md-12'>
                        <div class='form-group'>
                          <label class="form-label">{{"General::stateProvince"|abpLocalization}}</label>
                          <input class='form-control' formControlName='stateProvince' id='stateProvince' placeholder='{{"General::state"|abpLocalization}}' type='text' required>
                        </div>
                      </div>
                      <div class='col-lg-8 col-md-12'>
                        <div class='form-group mb-0'>
                          <label class="form-label">{{"General::country"|abpLocalization}}</label>
                          <ng-select class='select-country' [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedCity" [items]="countryList" formControlName="countryId" bindLabel="name" bindValue="id"  placeholder='{{"General::preferredLanguage"|abpLocalization}}' [clearable]="false">
                            <ng-template ng-label-tmp let-item="item">
                              <div class='country'>
                                <img [src]='item?.flagUrl' class='img-fluid'>
                                <span class='name'>{{item?.name}}</span>
                              </div>
                            </ng-template>

                            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                              <div class='country'>
                                <img [src]='item?.flagUrl' class='img-fluid'>
                                <span class='name'>{{item?.name}}</span>
                              </div>
                            </ng-template>
                          </ng-select>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
                <!--End Address Sec-->
              </form>


            </ng-template>
          </li>
          <li ngbNavItem [disabled]="true">
            <button ngbNavLink>
              <i class="fa-regular fa-file-lines icon"></i>
              <span>
                 {{"General::subscription"|abpLocalization}}
              </span>
             </button>
            <ng-template ngbNavContent>Second content</ng-template>
          </li>
          <li ngbNavItem [disabled]="true">
            <button ngbNavLink>
              <i class="fa-solid fa-file-invoice icon"></i>
              <span>{{"General::invoices"|abpLocalization}}</span>
            </button>
            <ng-template ngbNavContent>Second content</ng-template>
          </li>
          <li ngbNavItem [disabled]="true">
            <button ngbNavLink>
              <i class="fa-solid fa-chart-column icon"></i>
              <span>{{"General::logs"|abpLocalization}} </span>
            </button>
            <ng-template ngbNavContent>Second content</ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
  </div>
</div>

