.category{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  @media (max-width: 992px) {
    margin-bottom: 32px;
  }
  &-name{
    color:#344054;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  &-description{
    color: #475467;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.bullingCycle-cell{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .name{
    color:  #101828;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  .info{
    color: #344054;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}
