.side-menu{
  border-right: 1px solid $main-border-color;
  //box-shadow: 0 0.5rem 1rem #f8f9fa !important;
  transition: all .3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  z-index: 999;

  background-color: #FFFFFF;
  width: 280px;
  position: fixed;
  height: 100%;
  &-top{
    display: flex;
    padding-top: 42px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }
  &-list-container{
    padding: 0 16px;
    width: 100%;
  }
  &-link{
    display: flex;
    padding: 8px 12px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color:  #344054;
    font-family: "IBM Plex Sans Arabic";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
    transition: all 0.3s ease-in-out;
    &:hover{
      color: $dark-color;
    }
    &.active{
      background: #F9FAFB;
      border-radius: 6px;
      color: $dark-color;
    }
  }

  .logo{
    padding: 0px 24px 15px;
  }
  &-bottom{
    display: flex;
    padding: 0px 16px 32px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    .support{
      display: flex;
      padding: 8px 12px;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      color:  #344054;
      font-family: "IBM Plex Sans Arabic";
      font-size: 16px;
      font-weight: 600;
      line-height: 24px; /* 150% */
      transition: all 0.3s ease-in-out;
      &:hover{
        color: $dark-color;
      }
      &.active{
        background: $hover-menu-item-bg;
        border-radius: 6px;
        color: $dark-color;
      }
    }
    .user{
      display: flex;
      padding: 24px 8px 0px 8px;
      align-items: flex-start;
      justify-content: space-between;
      align-self: stretch;
      border-top: 1px solid  $main-border-color;
      &-img{
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
      &-data{
        display: flex;
        align-items: center;
        gap: 12px;
        flex: 1 0 0;
      }
      &-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: "IBM Plex Sans Arabic";
        font-size: 14px;
        line-height: 20px;
        .name{
          font-weight: 600;
          color:  #344054;
        }
        .email{
          font-weight: 400;
          color: $secondary-text;
        }
      }
      .logout{
        color: $menu-icon-color;
        font-size: 20px;
      }
    }
  }
  .avatar{
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #F2F4F7;
    text-transform: uppercase;
    color: $secondary-text;
    font-size: 16px;
  }
}
.toggle-menu,
.close-menu{
  display: none;
}
.is-open-menu{
.side-menu{
  left:0;
  }
}
.btn-lang{
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--Gray-800, #1D2939) !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  border-radius: 8px;
  background: var(--Gray-50, #F9FAFB);
  border: 1px solid var(--Gray-300, #D0D5DD);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

@media (max-width: 992px){
  .toggle-menu{
    position: absolute;
    top: 32px;
    left: 28px;
    width: 34px;
    height: 34px;
    background: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #344054 !important;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border: 1px solid #e7e9ec;
    font-size: 20px;
  }
  .side-menu{
    left: -280px;
  }
  .close-menu{
    display: block;
    color: #344054 !important;
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 20px;
  }

  .is-open-menu{
    &:before{
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.125);
      width: 100%;
      height: 100%;
      z-index: 99;
    }
    .side-menu{
      left:0;
    }
  }
}
html[dir=rtl]{
  .side-menu {
    border-right: 0;
    border-left: 1px solid $main-border-color;
  }
    .btn-lang{
    direction: ltr;
  }
  .side-menu-bottom .user .logout {
    transform: rotate(180deg);
  }
  @media (max-width: 992px) {
    .toggle-menu{
      left: auto;
      right: 28px;
    }
    .is-open-menu .side-menu {
      left: auto;
      right: 0;
    }
    .close-menu{
      right: auto;
      left: 16px;
    }
  }

  }
