<div class="invoice-container" id='invoice'>
  <div class="invoice-header">
    <div class='block-one'>
      <div class="company-info">
        <div class='company-img'>
          <img [src]='invoicePdfDetails?.companyLogo' alt=''>
        </div>
        <h1 class='company-title'>{{invoicePdfDetails?.companyName}}</h1>
        <div class='company-created'>
          <p>Date Created: {{ invoicePdfDetails?.createdDate | date: 'MMMM' }} {{invoicePdfDetails?.createdDate | date: 'm dd, yyyy'}}</p>
          <p>TAX ID: {{invoicePdfDetails?.companyTaxID}}</p>
          <p>Company ID: {{invoicePdfDetails?.companyId}}</p>
          <p>Invoice #: {{invoicePdfDetails?.invoiceNumber}}</p>
        </div>

      </div>
    </div>
    <div class='block-two'>
      <div class="invoice-title">
        <h2>{{invoicePdfDetails?.title}}</h2>
      </div>
      <div class="company-address">
        <p>{{invoicePdfDetails?.companyAddress}}</p>

        <p>{{invoicePdfDetails?.companyPostalCode}}</p>
        <p>{{invoicePdfDetails?.companyCity}}, {{invoicePdfDetails?.companyCountry}}</p>
      </div>

    </div>

  </div>

  <div class="customer-info">
    <div class='customer-info-header'>
      <h3>Customer Informations:</h3>
      <h3>:معلومات العميل</h3>
    </div>
    <div class="customer-details">
      <div class='block-one'>
        <p>Customer: <strong>{{invoicePdfDetails?.customerName}}</strong></p>
        <p>CustomerKey: <strong>{{invoicePdfDetails?.customerKey}}</strong></p>
        <p>Business CR ID: <strong>{{invoicePdfDetails?.crid}}</strong></p>
        <p>Business Tax ID:: <strong>{{invoicePdfDetails?.taxID}}</strong></p>
      </div>
      <div class='block-two' *ngIf='invoicePdfDetails?.address'>
        <p>Address:</p>
        <p class='w-240'> <strong>{{invoicePdfDetails?.address}}, {{invoicePdfDetails?.customerCity}} {{invoicePdfDetails?.companyPostalCode}}</strong></p>
        <p><strong>{{invoicePdfDetails?.customerCity}}, {{invoicePdfDetails?.companyCountry}}</strong></p>
      </div>
    </div>
  </div>

  <div class="invoice-items">
    <table class='table'>
      <thead>
      <tr>
        <th>
          <span class='d-block'>
            المنتجات
          </span>
          <span class='d-block'>
            Items
          </span>
        </th>
        <th>
         <span class='d-block'>
            السعر
          </span>

          <span class='d-block'>
            Rate (Monthly)
          </span>
        </th>
        <th>
         <span class='d-block'>
            الكمية
          </span>

          <span class='d-block'>
            Quantity
          </span>
        </th>
        <th>
         <span class='d-block'>
            المجموع
          </span>

          <span class='d-block'>
            Subtotal
          </span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="4" class='pt-2'>
          <strong>
            Starter Plan
            الباقة الأساسية
          </strong>
        </td>
      </tr>
      <tr>
        <td>Monthly 30d</td>
        <td>40 SAR</td>
        <td>1</td>
        <td>40 SAR</td>
      </tr>
      <tr>
        <td colspan="4" class='pt-3'><strong>Add ons الإضافات</strong></td>
      </tr>
      <tr>
        <td>Accounting Feature نظام المحاسبة</td>
        <td>300 SAR</td>
        <td>1</td>
        <td>300 SAR</td>
      </tr>
      <tr>
        <td>Users مستخدمين</td>
        <td>30 SAR</td>
        <td>3</td>
        <td>90 SAR</td>
      </tr>
      <tr>
        <td>Locations الفروع</td>
        <td>100 SAR</td>
        <td>7</td>
        <td>700 SAR</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="invoice-summary">
    <div class='invoice-summary-status' *ngIf='invoicePdfDetails?.status !== "PAID"'>
      <div class='status-block danger'>
        <span>
          فاتورة غير مدفوعة
        </span>
        <span>
          Unpaid Invoice
        </span>
      </div>
      <div class='invoice-expiry danger'>
        <p>تنتهي الفاتورة بتاريخ  {{invoicePdfDetails?.expiryDate | date: 'dd/ MM/YYYY'}}</p>
        <p>Expiry date: {{invoicePdfDetails?.expiryDate | date: 'dd/MM/YYYY'}}</p>
      </div>
    </div>

    <div class='invoice-summary-status invoice-paid' *ngIf='invoicePdfDetails?.status === "PAID"'>
      <div class='invoice-summary-details-row bg-success'>
        <p class='align-items-end d-flex flex-column'>
          <strong class='d-block mb-1'>{{invoicePdfDetails?.totalDue}} SAR</strong>
          <ng-container *ngIf='invoicePdfDetails?.paymentCompany === "MADA"'>
            <img width='30' height='10' src='assets/images/Bitmap.png'>
          </ng-container>
        </p>
        <strong class='details-label'>
          :المبلغ المدفوع
          <span class='d-block'>
         Paid Amount
       </span>
        </strong>
      </div>
      <div class='payment-info'>
        <div class="details">
          <p class='payment-method'>
            <i class="fa-solid fa-credit-card icon"></i>

            <span *ngIf='invoicePdfDetails?.paymentMethod === "CREDITCARD"'>Credit Card </span>
            -
            <span *ngIf='invoicePdfDetails?.paymentType === "PAYLINK"'>Paylink</span>
          </p>
          <p>{{invoicePdfDetails?.paymentReference}}</p>
          <p>{{ invoicePdfDetails?.paymentDateTime | date: 'MM/dd/yyyy' }} - {{ invoicePdfDetails?.paymentDateTime | date: 'hh-mm a' }}</p>
        </div>
        <div class="pay-info">
          <p>معلومات الدفع</p>
          <p>Payment info</p>
        </div>

      </div>

    </div>
    <div class='invoice-summary-details'>
      <div class='invoice-summary-details-row'>
        <span>{{invoicePdfDetails?.subTotal}} SAR</span>
        <label class='details-label'>
          <span class='d-block'>:المجموع الفرعي </span>
          <span class='d-block'> Subtotal </span>
        </label>
      </div>
      <div class='invoice-summary-details-row'>
        <span>{{invoicePdfDetails?.subTotalWithVat}} SAR</span>
        <label class='details-label'>
          :الضريبة ({{invoicePdfDetails?.vat}} ٪)
          <span class='d-block'>
         VAT ({{invoicePdfDetails?.vat}}%)
       </span>
        </label>
      </div>
      <div class='invoice-summary-details-row'>
        <span>{{invoicePdfDetails?.totalWithVAT}} SAR</span>
        <label class='details-label'>
          :المجموع مع الضريبة
          <span class='d-block'>
         Total includng VAT
       </span>
        </label>
      </div>

      <div class='invoice-summary-details-row bg-primary'>
        <strong class='details-value'><span class='d-block'>{{invoicePdfDetails?.totalDue}}</span><span class='d-block'>SAR</span></strong>
        <strong class='details-label'>
          :المبلغ المستحق
          <span class='d-block'>
         Total Due
       </span>
        </strong>
      </div>

    </div>
  </div>

</div>
