.badge{
  display: inline-flex;
  padding: 2px 8px;
  align-items: center;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  height: 22px;
  &.badge{
    &-success{
      background-color: $success-opacity;
      color:$success;
    }
    &-danger{
      background-color: $danger-opacity;
      color:$danger;
    }
    &-default{
      background: #E4E5E7;
      color: #000;
    }
    &-trial{
      background: #E1E7FF;
      color: #425CC7;
    }
    &-deactivate{
      background: #F2F4F7;
      color: #344054;
    }
    &-warning{
    background: rgba(255, 244, 237, 1);
    color: #B93815;
    }
    &-dark{
      background: #1E1E1E;
      color: #ffffff;
    }

  }

}
.badge-transparent{
  border:1px solid;
  display: flex;
  padding: 2px 8px;
  align-items: center;
  border-radius: 16px;
  height: 22px;
  font-weight: 500;
  font-size: 14px;

  &-success{
    color: #027A48;
    border-color:#027A48;
  }
  &-primary{
    color: #026AA2;
    border-color:#026AA2;
  }
}
