body{
  position: relative;
}
body,html{
  background: #F9FAFB;
}
ul,li{
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
a{
  text-decoration: none;
  cursor: pointer;
}
.wrapper{
  padding: 32px 32px 48px 312px;
  height: 100%;
}
.section{
  &-header{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    justify-content: space-between;
    padding-bottom:20px;
    border-bottom: 1px solid #EAECF0;
    margin-bottom: 32px;
    flex-wrap: wrap;
    .section-header-actions{
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
  &-row{
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1 0 0;
    .sperator{
      padding-bottom: 20px;
      border-bottom: 1px solid #EAECF0;
    }
  }
}
.btn{
  font-family: "IBM Plex Sans Arabic";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
    &-sm{
    padding: 8px 14px;
  }
}
.btn-primary{
  background: $primary-opacity;
  color:$primary;
  border: 1px solid $primary-opacity;
}
.btn-light{
  border: 1px solid $gray;
  background: $light-color;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.mt-16{
  margin-top: 16px !important;
}
.pt-16{
  padding-top: 16px !important;
}
.my-32{
  margin-top: 32px !important;
  margin-bottom: 32px !important;

}

html[dir='rtl']{
  .wrapper{
    padding: 32px 312px 48px 32px;
  }
}
