.modal{
  background: rgba(52, 64, 84, 0.60) !important;
  &.custom-modal{
    background: #F9FAFB;
  }
  .btn-save{
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: $save-btn;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: $light-color;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
  &-fullscreen{
    .modal{
      &-header{
        background: #FFF;
        height: 64px;
        border-bottom: 1px solid #E5E7EB;
        margin: 0;
        align-items: center;
        padding: 0;
        position: fixed;
        width: 100%;
        z-index: 999;
        &-wrapper{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .title{
          color:  #101828;
          font-family: "IBM Plex Sans Arabic";
          font-size: 18px;
          font-weight: 600;
          line-height: 28px;
        }

      }
      &-close{
        font-family: "IBM Plex Sans Arabic";
        width: 32px;
        height: 32px;
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        border: 1px solid #E5E7EB;
        color: #111827;
        font-size: 20px;

      }
      &-content{
        background-color: #F9FAFB;
        border-radius: 0;
      }
      &-body{
        padding: 0 !important;
        margin-top: 90px;
        @media (max-width: 992px) {
          .container{
            padding: 0;
          }
        }
        &-wrapper{
          padding: 32px 32px 48px 32px;
          @media (max-width: 992px) {
            padding: 20px 28px 38px 28px;

          }
        }

      }
    }
  }
  &-header{
    padding: 0 0 16px;
    border-bottom: 1px solid #EAECF0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    margin: 24px 24px 16px;
    .title{
      color:  #101828;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
    }
    .modal-close{
      color: #667085;
      font-size: 24px;
    }
  }
  &-content{
    border-radius: 12px;
  }
  &-body{
    padding: 0 24px 32px 24px !important;
    border-bottom: none;
  }
  &-footer{
    padding: 24px;
    border-top: 1px solid #EAECF0;
    justify-content: flex-start;
    .btn{
      margin: 0;
    }
  }
.icon-header{
  border-radius: 28px;
  border: 8px solid #ECFDF3;
  background: #D1FADF;
  color: #039855;
}
  .isMark-paid{
   .form-switch{
     gap: 12px;
     label{
       display: flex;
       flex-direction: column;
       gap: 2px;
       .label-text{
         color: #344054;
         font-size: 16px;
         font-weight: 500;
         line-height: 24px;
       }
       .label-hint{
         color: #475467;
         font-size: 16px;
         font-weight: 400;
         line-height: 24px;
       }
     }
   }
  }
}
.custom-modal-right{
  .modal-fullscreen{
    width: 502px;
  }
}
.custom-modal-right .modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  margin: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  transform: translateX(100%);
  opacity: 0;
}

.custom-modal-right.modal.show .modal-dialog {
  transform: translateX(0) !important;
  opacity: 1 !important;
}
.custom-modal-right .modal-content {
  height: 100%;
  overflow-y: auto;
}
.custom-modal-right.modal.modal.fade .modal-dialog {
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}
