.modal{
  background: rgba(52, 64, 84, 0.70);
  &.custom-modal{
    background: #F9FAFB;
  }
  .btn-save{
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: $save-btn;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: $light-color;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
  &-fullscreen{
    .modal{
      &-header{
        background: #FFF;
        height: 64px;
        border-bottom: 1px solid #E5E7EB;
        margin: 0 0 26px;
        align-items: center;
        padding: 0;
        &-wrapper{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .title{
          color:  #101828;
          font-family: "IBM Plex Sans Arabic";
          font-size: 18px;
          font-weight: 600;
          line-height: 28px;
        }

      }
      &-close{
        font-family: "IBM Plex Sans Arabic";
        width: 32px;
        height: 32px;
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        border: 1px solid #E5E7EB;
        color: #111827;
        font-size: 20px;

      }
      &-content{
        background-color: #F9FAFB;
        border-radius: 0;
      }
      &-body{
        padding: 0;
        &-wrapper{
          padding: 32px 32px 48px 32px;
        }

      }
    }
  }
  &-header{
    padding: 0 0 16px;
    border-bottom: 1px solid #EAECF0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    margin: 24px 24px 16px;
    .title{
      color:  #101828;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
    }
    .modal-close{
      color: #667085;
      font-size: 24px;
    }
  }
  &-content{
    border-radius: 12px;
  }
  &-body{
    padding: 0 24px 32px 24px !important;
    border-bottom: none;
  }
  &-footer{
    padding: 24px;
    border-top: 1px solid #EAECF0;
    justify-content: flex-start;
    .btn{
      margin: 0;
    }
  }
.icon-header{
  border-radius: 28px;
  border: 8px solid #ECFDF3;
  background: #D1FADF;
  color: #039855;
}
}
