.ngb-dp-day
{
  .btn-light {
    border: none;
    background: #ffffff;
    box-shadow: none;
  }
}

.ngb-dp-weekday{
  color: #344054 !important;
  font-style: normal !important;
}
.bg-primary{
  background-color: $primary !important;
}
.ngb-dp-navigation-select{
  gap: 8px;
}
[ngbDatepickerDayView]:hover:not(.bg-primary),
[ngbDatepickerDayView].active:not(.bg-primary) {
  background-color: unset !important;
  outline: unset !important;
}

html[dir='rtl'] .ngb-dp-arrow {
  transform: rotate(180deg);
}
.bs-datepicker-container{
  padding: 0;
}
.theme-green .bs-datepicker-head{
  background-color: $primary;
}
.theme-green .bs-datepicker-body table td.week span,
.custom-today-class{
  color: #344054;
}
.bs-datepicker-body table td{
  color: #344054;
}
.theme-green .bs-datepicker-body table td span.selected,
.theme-green .bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body table td span[class*=select-]:after,
.theme-green .bs-datepicker-body table td[class*=select-] span:after {
  background-color: $primary;
}
