.table-filter-wrapper{
 background: $light-color;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #D0D5DD);
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  .filter{
    padding: 20px;
    @media (max-width: 992px) {
      padding: 20px 0;
    }
    .row{
      row-gap: 12px;
    }
  }
  .rounded-table-body .rounded-table-body-cell .cell-name .avatar{
    border-radius: 50%;
  }
  .rounded-table-body .rounded-table-body-row:nth-child(odd) {
    background: #F9FAFB;
  }
  .rounded-table-head .rounded-table-head-cell{
    background: $light-color;
    border-top: 0;
    &:first-child{
      border-radius: 0;
      border-left:0
    }
  }

  .rounded-table-body .rounded-table-body-row:last-child .rounded-table-body-cell:first-child{
    border-radius: 0 !important;
    border-left:0
  }
  .rounded-table-body-row:last-child .rounded-table-body-cell{
      border-bottom: 0;
  }
}

.cell-action{
  .dropdown{
    .dropdown-toggle.btn{
      background: transparent;
      border: none;
      box-shadow: none !important;
      color: #98A2B3;
      font-size: 20px;
      &:after{
        display: none;
      }
    }
    .dropdown-menu{
      padding: 0;
      overflow: hidden;
    }
    .dropdown-item{
      padding: 10px 14px;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .dropdown-item:active {
      color:#475467 ;
      text-decoration: none;
      background-color: $light-color;
    }
  }

}

@media (max-width: 992px) {
  .table-filter-wrapper{
    background: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
    .table-responsive .rounded-table tr{
    background-color: #ffffff !important;
    }
  }
}
