
<div class="modal-header">
  <div class='container'>
    <div class='modal-header-wrapper'>
      <a class='modal-close' (click)="closeModal()">
        <i class='fa fa-xmark'></i>
      </a>
      <h2 class='title'>{{"General::planCategory"|abpLocalization}}</h2>
      <button  class='btn btn-save' type="submit"  (click)="createEditPlan()" [disabled]="!form.valid">
        <span>{{"General::save"|abpLocalization}}</span>
      </button>
    </div>
  </div>

</div>

<div class='modal-body'>
  <div class='container'>
    <div class='modal-body-wrapper'>

      <form class='form section-form' [formGroup]='form'>
        <!--Start General Sec-->
        <div class='row g-0  pb-32 border-bottom'>
          <div class='col-lg-3 col-md-12'>
            <p class='form-name'>{{"General::general"|abpLocalization}}</p>
          </div>
          <div class='col-lg-9 col-md-12'>
            <div class='row'>
              <div class='col-lg-8 col-md-12'>
                <div class='form-group'>
                  <label class="form-label">{{"General::planName"|abpLocalization}}</label>
                  <div class='control-icon'>
                    <input class='form-control' formControlName='name' id='name' placeholder='{{"General::exStarterPlan"|abpLocalization}}' type='text' required>
                    <i class="icon fa-regular fa-circle-question" placement="top" container="body"  ngbTooltip='{{"General::planNameHint"|abpLocalization}}'></i>
                  </div>
                </div>
              </div>
              <div class='col-lg-8 col-md-12'>
                <div class='form-group'>
                  <label class="form-label">{{"General::planCode"|abpLocalization}}</label>
                  <input  (keydown.space)="$event.preventDefault()" class='form-control' formControlName='code' id='code' placeholder='{{"General::starterP"|abpLocalization}}' type='text' required>
                </div>
              </div>
              <div class='col-lg-8 col-md-12'>
                <div class='form-group'>
                  <label class="form-label">{{"General::planDescription"|abpLocalization}}</label>
                  <textarea formControlName='description' id='description' rows='2' placeholder='{{"General::planForBeginning"|abpLocalization}}' class='form-control' required></textarea>
                </div>
              </div>
              <div class='col-lg-8 col-md-12'>
                <div class='form-group mb-0'>
                  <label class="form-label">{{"General::category"|abpLocalization}}</label>
                  <ng-select [items]="categoryList"
                             bindLabel="name"
                             bindValue="id"
                             placeholder='{{"General::category"|abpLocalization}}'
                             [clearable]="false"
                             formControlName='categoryId'
                  >
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End General Sec-->


        <!--Start General Sec-->
        <div class='row g-0  pb-32 border-bottom'>
          <div class='col-lg-3 col-md-12'>
            <p class='form-name'>{{"General::trialConfigurations"|abpLocalization}}</p>
          </div>
          <div class='col-lg-9 col-md-12'>
            <div class='row'>
              <div class='col-lg-8 col-md-12'>
                <div class='form-group mb-0'>
                  <label class="form-label">{{"General::freeTrial"|abpLocalization}}</label>
                  <div class='control-icon-text'>
                    <input class='form-control' formControlName='freeTrailDays' id='freeTrailDays' placeholder='0' type='number' required value='0' >
                    <div class='icon-text'>
                      <i class="icon fa-regular fa-circle-question" placement="top" ngbTooltip='{{"General::freeTrialHint"|abpLocalization}}' container="body"></i>
                      <span class='text'>{{"General::days"|abpLocalization}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End General Sec-->



        <!--Srart Pricing And Billing Sec-->
        <div class='row g-0  pb-32 border-bottom'>
          <div class='col-lg-3 col-md-12'>
            <p class='form-name'>{{"General::pricingAndBilling"|abpLocalization}}</p>
          </div>
          <div class='col-lg-9 col-md-12'>
            <div class='row'>
              <div class='col-lg-8 col-md-12'>
                <div class='form-group'>
                  <label class="form-label">{{"General::pricingAndBilling"|abpLocalization}}</label>

                  <ng-select  placeholder='{{"General::model"|abpLocalization}}' [clearable]="false"
                              formControlName='pricingModel'>
                    <ng-option [value]="0">{{"General::fixedPrice"|abpLocalization}}</ng-option>
                    <ng-option [value]="1">{{"General::dynamicPrice"|abpLocalization}}</ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End Trial Configurations Sec-->

        <!--Srart Billing Cycles Sec-->
        <div class='row g-0  pb-32 border-bottom'>
          <div class='col-lg-3 col-md-12'>
            <p class='form-name'>{{"General::bullingCycles"|abpLocalization}}</p>
          </div>
          <div class='col-lg-9 col-md-12'>
            <div class='row'>
              <div class='col-lg-8 col-md-12'>
                <div class='table-responsive'>
                  <table class='rounded-table'>
                    <thead class='rounded-table-head'>
                    <tr class='rounded-table-head-row'>
                      <th class='rounded-table-head-cell'>{{"General::action"|abpLocalization}}</th>
                      <th class='rounded-table-head-cell'>{{"General::bullingCycles"|abpLocalization}}</th>
                      <th class='rounded-table-head-cell'>{{"General::Price"|abpLocalization}}</th>
                    </tr>
                    </thead>
                    <tbody class='rounded-table-body'>
                    <tr class='rounded-table-body-row' *ngFor='let bullingCycle of planBillingCycleList; let i = index'>
                      <td class='rounded-table-body-cell' width='84' [attr.data-label]="'General::action' | abpLocalization">
                        <div class="form-check form-switch">
                          <input [ngModelOptions]="{standalone: true}" [(ngModel)]="bullingCycle.active" (change)="toggleActiveStatus(bullingCycle)" class="form-check-input" type="checkbox" id="" [checked]="bullingCycle?.active">
                        </div>
                      </td>
                      <td class='rounded-table-body-cell' width='273' [attr.data-label]="'General::bullingCycles' | abpLocalization">
                        <div class='bullingCycle-cell'>
                          <span class='name'>{{bullingCycle?.name}}</span>
                          <span class='info'>{{"General::billed"|abpLocalization}} {{bullingCycle?.durationInDays}} {{"General::days"|abpLocalization}}, {{"General::each"|abpLocalization}} {{bullingCycle?.durationInDays}} {{"General::days"|abpLocalization}}</span>
                        </div>
                      </td>
                      <td class='rounded-table-body-cell' width='155' [attr.data-label]="'General::Price' | abpLocalization">
                        <div class='control-icon'>
                          <input [ngModelOptions]="{standalone: true}"  type='number' class='form-control' placeholder='{{"General::Price"|abpLocalization}}'  [(ngModel)]="bullingCycle.price" [value]='bullingCycle?.price' id='price-{{bullingCycle?.id}}'>
                          <span class='icon'>{{"General::SAR"|abpLocalization}}</span>
                        </div>
                      </td>
                    </tr>
                    </tbody></table>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!--End Billing Cycles Sec-->


        <!--Srart Renewals Sec-->
        <div class='row g-0  pb-32 border-bottom'>
          <div class='col-lg-3 col-md-12'>
            <p class='form-name'>{{"General::renewals"|abpLocalization}}</p>
          </div>
          <div class='col-lg-9 col-md-12'>
            <div class='row'>
              <div class='col-lg-8 col-md-12'>
                <div class='row radio-box'>
                  <div class='col-lg-6 col-md-12'>
                    <div class="radio-box-wrapper">
                      <input type='radio' name='renewals' formControlName='renewals' id='renewalsTypeIdRadio1'
                             [checked]='plan?.renewals == 0' [value]='0'/>
                      <label class="radio-box-label" for="renewalsTypeIdRadio1">
                        <span class="title">{{"General::autoRenewal"|abpLocalization}}</span>
                        <span class="desc">{{"General::autoRenewalDesc"|abpLocalization}}</span>
                      </label>
                    </div>
                  </div>
                  <div class='col-lg-6 col-md-12'>
                    <div class="radio-box-wrapper">
                      <input type='radio' name='renewals' formControlName='renewals' id='renewalsTypeIdRadio2'
                             [checked]='plan?.renewals == 1' [value]='1' />
                      <label class="radio-box-label" for="renewalsTypeIdRadio2">
                        <span class="title">{{"General::expireSubscription"|abpLocalization}}</span>
                        <span class="desc">{{"General::expireSubscriptionDesc"|abpLocalization}}</span>
                      </label>
                    </div>
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!--End Renewals Sec-->

        <!--Srart fees Sec-->
        <div class='row g-0  pb-32 border-bottom'>
          <div class='col-lg-3 col-md-12'>
            <p class='form-name'>{{"General::fees"|abpLocalization}}</p>
          </div>
          <div class='col-lg-9 col-md-12'>
            <div class='row'>
              <div class='col-lg-4 col-md-12'>
                <div class='form-group'>
                  <label class="form-label">{{"General::setupFee"|abpLocalization}}</label>
                  <div class='control-icon-text'>
                    <input class='form-control' formControlName='setUpFees' id='setUpFees' type='number' required>
                    <div class='icon-text'>
                      <span class='text'>{{"General::SAR"|abpLocalization}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class='col-lg-4 col-md-12'>
                <div class='form-group'>
                  <label class="form-label">{{"General::accountingCode"|abpLocalization}}</label>
                  <input (keydown.space)="$event.preventDefault()" class='form-control' formControlName='accountingCode' id='accountingCode' placeholder='SKU-1234' type='text' required>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End fees Sec-->


        <!--Srart Redirect URL Sec-->
        <div class='row g-0  pb-32 border-bottom'>
          <div class='col-lg-3 col-md-12'>
            <p class='form-name'>{{"General::redirectURL"|abpLocalization}}</p>
          </div>
          <div class='col-lg-9 col-md-12'>
            <div class='row'>
              <div class='col-lg-8 col-md-12'>
                <div class='form-group'>
                  <label class="form-label">{{"General::redirectTo"|abpLocalization}}</label>
                  <div class="custom-input-group control-icon">
                    <span class='text'>{{"General::link"|abpLocalization}}</span>
                    <input class='form-control' formControlName='redirectUrl' id='redirectUrl' placeholder='www.yoursite.com/directory' type='text' required>
                    <i class="icon fa-regular fa-circle-question" placement="top" ngbTooltip='{{"General::redirectHint"|abpLocalization}}'></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End Redirect URL Sec-->


        <!--Srart Plan status  Sec-->
        <div class='row g-0'>
          <div class='col-lg-3 col-md-12'>
            <p class='form-name'>{{"General::planStatus"|abpLocalization}}</p>
          </div>
          <div class='col-lg-9 col-md-12'>
            <div class='row'>
              <div class='col-lg-8 col-md-12'>
                <div class='form-group mb-0'>
                  <label class="form-label">{{"General::status"|abpLocalization}}</label>
                  <ng-select  placeholder='{{"General::planStatus"|abpLocalization}}' [clearable]="false"
                              formControlName='planStatus'>
                    <ng-option [value]="0">{{"General::Active"|abpLocalization}}</ng-option>
                    <ng-option [value]="1">{{"General::Disabled"|abpLocalization}}</ng-option>
                    <ng-option [value]="2">{{"General::Paused"|abpLocalization}}</ng-option>

                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Srart Plan status Sec-->

      </form>

    </div>

  </div>
</div>
