.select-lang{
  .info{
    display: flex;
    align-items: center;
    gap: 8px;
    .code{
      color:#101828;
      font-family: "IBM Plex Sans Arabic";
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
    .name{
      color:  #101828;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }
  }
}
.select-country{
  .country{
    display: flex;
    align-items: center;
    gap: 8px;
    .name{
      color:  #101828;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
    img{
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }
  }
}
.form .form-switch{
    &.customer-check{
      gap: 12px;
align-items: end;
    }
  }
.total-customer{
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 12px;
  border: 1px solid var(--Gray-200, #EAECF0);
  background: var(--Base-White, #FFF);
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10), 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
  margin-bottom: 32px;
  .name{
    color:#475467;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  .info{
    color: #101828;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.72px;
  }
}
.customer-subscription{
  .badge{
    font-size: 13px;
    padding: 4px 12px;
    border-radius: 50px;
  }
  .total-amount{
    @media (max-width: 992px) {
      flex-direction: column;
    }
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    flex-wrap: wrap;
    .block-one{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex: 1 0 0;
      font-size: 14px;

      label{
        color: #344054;
        font-weight: 500;
        line-height: 20px;
      }
      span{
        color: #475467;
        font-weight: 400;
        line-height: 20px;
      }
    }
    .block-two{
      color: #000;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      display: flex;
      align-items: center;
      gap: 15px;
      .btn.disabled{
        border: 1px solid #EAECF0;
        background-color: #FFF;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        color: #D0D5DD;

      }
    }
  }
}

