
<div class="modal-header">
  <div class='container'>
    <div class='modal-header-wrapper'>
      <a class='modal-close' (click)="activeModal.dismiss('Cross click')">
        <i class='fa fa-xmark'></i>
      </a>
      <h2 class='title'>{{"General::planCategory"|abpLocalization}}</h2>
      <button  class='btn btn-save' type="submit"  (click)="createEditCategory()"  [disabled]="!form.valid">
        <span>{{"General::save"|abpLocalization}}</span>
      </button>
    </div>
  </div>

</div>
<div class="modal-body">
  <div class='container'>
      <div class='modal-body-wrapper'>
          <div class='row'>
            <div class='col-lg-3 col-md-4'>
              <p class='form-name'>{{"General::general"|abpLocalization}}</p>

            </div>
            <div class='col-lg-9 col-md-8'>
               <form class='form row' [formGroup]='form'>
                 <div class='col-lg-8 col-md-6'>
                   <div class='form-group'>
                     <label class="form-label">{{"General::categoryName"|abpLocalization}}</label>
                     <div class='control-icon'>
                       <input class='form-control' formControlName='name' id='name' placeholder='{{"General::exB2CCustomers"|abpLocalization}}' type='text' required>
                       <i class="icon fa-regular fa-circle-question" placement="top" ngbTooltip="Tooltip on top"></i>
                     </div>
                   </div>
                 </div>

                 <div class='col-lg-8 col-md-6'>
                   <div class='form-group mb-0'>
                     <label class="form-label">{{"General::categoryDescription"|abpLocalization}}</label>
                     <textarea formControlName='description' id='description' rows='2' placeholder='{{"General::categoryDescriptionPlaceholder"|abpLocalization}}' class='form-control' required></textarea>
                   </div>
                 </div>
                 <div class='col-lg-8 col-md-6'>
                   <div class="form-check form-switch form-divider mt-16 pt-16">
                     <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                     <label class="form-check-label" for="flexSwitchCheckChecked">{{"General::categoryStatus"|abpLocalization}}</label>
                   </div>
                 </div>
               </form>
            </div>
          </div>
      </div>
    </div>
</div>
